.box_painelQuemSomos {
    display: flex;
    flex-direction: column;
    //justify-content: center;
    //align-items: center; /* posiciona el_quemSomos no centro */
    margin-top: 200px;
    margin-bottom: 100px;
    //border: 1px solid red;
}