/* text front style */

@font-face {

    font-family: tx;
    src: url('../assets/fonts/Solway-Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {

    font-family: Destaque;
    src: url('../assets/fonts/Frijole-Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }

.main_text_front {
    display: flex;
    flex-direction: column;

    width: 100%;

    font-family: tx;

    //border: solid 2px blue;
}

.main_text_front .elem1_text {
    display: flex;

    //border: solid 2px red;
}

.main_text_front .elem1_text_int {
    display: flex;

    margin-top: 20%;
    margin-left: 10%;
    //margin-right: 20%;

    //border: solid 2px red;
}

.main_text_front .elem2_text {
    display: flex;

    margin-top: 2%;
    margin-left: 10%;
    //margin-right: 20%;

    font-family: tx;
    font-size: 2.5rem;
    font-weight: 900;

    //border: solid 2px green;
}

.main_text_front .elem3_text {
    display: flex;
    justify-content: flex-end;

    margin-top: 2%;
    margin-left: 20%;
    margin-right: 0%;

    font-size: 1rem;
    font-weight: 300;

    //border: solid 2px red;
}

.main_text_front .elem3_text .elem3_text_int {
    display: flex;
    flex-direction: column;

    width: 80%;

    //border: solid 2px green;
}

.main_text_front .elem3_text .elem3_text_int .tx_peq {
    display: flex;

    //width: 80%;
    //margin-left: 100px;

    font-family: tx;

    //border: solid 2px red;
}