@font-face {

  font-family: tx;
  src: url('./assets/fonts/Solway-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {

  font-family: Destaque;
  src: url('./assets/fonts/Frijole-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

.geral_carrinho_page {
    //border: solid 2px red;

    margin-top: 3%;

    font-family: tx;
  
    //height: 75%; /* 100% - (SupMenu) - (MainMenu) */ /* EM PRODUÇÃO */
    min-height: 600px; /* Teste de conexão com o editor */
  }

  .car_main_col {
    display: flex;
    justify-content: space-between; /* Espaço entre o lado A e o lado B */

    flex-wrap: wrap;

    //background: linear-gradient(85deg, rgb(255, 255, 255), rgb(190, 190, 190), rgb(255, 255, 255), rgb(255, 255, 255));
    //border: solid 2px rgb(130, 23, 218); /* marcador de edição interna */   
  }

  /* LADO B */
  .car_main_col .car_ladoB {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Ajustar conteúdo principal do lado B */

    width: 30%;
    padding: 1%;
    min-height: 500px;

    font-family: Destaque;

    border-radius: 8px;

    box-shadow: 0 2px 10px rgba(168,243,15);

    //border: solid 2px rgb(21, 133, 40); /* marcador de edição interna */
  }
  /* LADO B */
  .car_main_col .car_ladoB .p1 {
    display: flex;
    justify-content: center; /* Ajustar conteúdo principal do lado B */

    width: 30%;
    padding: 1%;
    min-height: 500px;

    border-radius: 8px;

    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.65);

    //border: solid 2px rgb(21, 133, 40); /* marcador de edição interna */
  }

  /* LADO A */

  /* LADO A - PEQUENO */
  .car_main_col .car_ladoA {
    display: flex;
    flex-direction: column;

    width: 100%;
  
    //justify-content: left; /* Ajuste de conteúdo principal do lado A */

    //border: solid 2px rgb(88, 61, 61); /* marcador de edição interna */
  }

  /* LADO A - GRANDE */
  .car_main_col .car_ladoAg {
    display: flex;
    flex-direction: column;

    width: 65%;
  
    //border: solid 2px rgb(88, 61, 61); /* marcador de edição interna */
  }

  /* EXIBIÇÃO DO CARRINHO EM TELA PEQUENA +---------------------------------------------------+*/
  .car_main_col .car_ladoA .panelExib {
    display: flex;
    flex-direction: column;

    height: 140px;
  
    justify-content: center; /* Ajuste de posicionamento dos cards panels */

    //border: solid 2px red;
  }

  .car_main_col .car_ladoA .panelExib .task-prod-exib {
    display: flex;
    flex-direction: column;

    justify-content: center;

    margin: 1%;
    margin-left: 4%;

    height: 80%; /* dimensão background branco do card task carrinho. */

    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;

    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;

    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.65);
    //border: 1px solid pink;
  }

  .car_main_col .car_ladoA .panelExib .task-prod-exib .nomeExib {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 70%;

    //border: 1px solid blue; 
  }

  .car_main_col .car_ladoA .panelExib .task-prod-exib .nomeExib .nomeExibInterno {
    display: flex;

    margin-top: 4%;
    font-size: 0.8rem;

    //border: 1px solid blue; 
  }

    .car_main_col .car_ladoA .panelExib .task-prod-exib .elemDireita {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 30%;

        //border: 1px solid red;
    }

    .car_main_col .car_ladoA .panelExib .task-prod-exib .elemDireita .elemInterno {
        display: flex;
        
        margin-top: 6%;
        font-size: 0.8rem;

        //border: 1px solid blue; 
    }

    .car_main_col .car_ladoA .btn_finalizar_ext {
        display: flex;
        justify-content: center;

        margin: 1%;
        margin-top: 2%;

        //border: 1px solid red; 
    }

  /* LADO A - PEQUENO +-----------------------------------------------------------------------+*/
  /* Label Categoria */ /* Região de posicionamento */
  .car_main_col .car_ladoA .panelExibLabel {
    display: flex;
    flex-direction: column;

    margin-bottom: 2%;
  
    justify-content: center; /* Ajuste de conteúdo interno ao card panel */

    //border: solid 2px rgb(88, 61, 61); /* marcador de edição interna */
  }

  /* Label Categoria */ /* Label Categoria (interno 1) */
  .car_main_col .car_ladoA .panelExibLabel .label-categ {
    display: flex;
  
    justify-content: center; /* Ajuste de conteúdo interno ao card panel categoria */
   
    margin: 1%;
    border-radius: 10px;
    width: 200px; /* a horizontal do card categoria deve ser fixo, encaixando-se na responsividade */
  
    //border: solid 1px red; /* marcador de edição interna */
  
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.65);
  }

  /* Label Categoria */ /* Label Categoria (interno 1) */ /* Label */
  .car_main_col .car_ladoA .panelExibLabel .label-categ .label-in {
    display: flex;

    margin: 1%;

    //border: solid 1px blue; /* marcador de edição interna */  
  }

    /* EXIBIÇÃO DO CARRINHO EM TELA GRANDE +---------------------------------------------------+*/
    .car_main_col .car_ladoAg .panelExib {
        display: flex;
        flex-direction: column;
        
        justify-content: center; /* Ajuste de posicionamento dos cards panels */

        //border: solid 2px rgb(88, 61, 61);
    }

    .car_main_col .car_ladoAg .panelMSG {
      display: flex;
      align-items: center;
      
      justify-content: center; /* Ajuste de posicionamento dos cards panels */

      //border: solid 2px rgb(88, 61, 61);
  }

    .car_main_col .car_ladoAg .panelExib .task-prod-exib {
    display: flex;

    justify-content: center;

    margin: 1%;
    margin-left: 4%;

    border-top-left-radius: 28px;
    border-bottom-left-radius: 28px;

    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;

    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.65);
    }

    .car_main_col .car_ladoAg .panelExib .task-prod-exib .nomeExib {
        display: flex;
        justify-content: center;
        align-items: center;
    
        width: 70%;
        height: 80%;
    
        //border: 1px solid red; 
    }
    
    .car_main_col .car_ladoAg .panelExib .task-prod-exib .nomeExib .nomeExibInterno {
        display: flex;
    
        //margin-top: 4%;
        font-size: 0.8rem;
    
        //border: 1px solid blue; 
    }

    .car_main_col .car_ladoAg .panelExib .task-prod-exib .elemDireita {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 25%;

        //border: 1px solid red; 
    }

    .car_main_col .car_ladoAg .panelExib .task-prod-exib .elemDireita .elemInterno {
        display: flex;
        
        margin-top: 6%;
        font-size: 0.8rem;

        //border: 1px solid blue; 
    }

    .car_main_col .car_ladoAg .btn_finalizar_ext {
        display: flex;
        justify-content: center;

        margin: 1%;
        margin-top: 2%;

        //border: 1px solid red; 
    }

    .car_main_col .car_ladoAg .panel_finalizar_ext {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      margin: 1%;
      margin-top: 4%;

      font-weight: 600;

      //border: 1px solid purple; 
    }

    .car_main_col .car_ladoAg .panel_finalizar_ext .panel_finalizar_int {
      display: flex;

      //border: 1px solid red; 
    }

  /* LADO A - GRANDE +-----------------------------------------------------------------------+*/
  /* Label Categoria */ /* Região de posicionamento */
  .car_main_col .car_ladoAg .panelExibLabel {
    display: flex;
    flex-direction: column;
  
    justify-content: center; /* Ajuste de conteúdo interno ao card panel */

    margin-bottom: 2%;

    //border: solid 2px rgb(88, 61, 61); /* marcador de edição interna */
  }

  /* Label Categoria */ /* Label Categoria (interno 1) */
  .car_main_col .car_ladoAg .panelExibLabel .label-categ {
    display: flex;
  
    justify-content: center; /* Ajuste de conteúdo interno ao card panel categoria */
   
    margin: 1%;
    border-radius: 10px;
    width: 200px; /* a horizontal do card categoria deve ser fixo, encaixando-se na responsividade */
  
    //border: solid 1px red; /* marcador de edição interna */
  
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.65);
  }

  /* Label Categoria */ /* Label Categoria (interno 1) */ /* Label */
  .car_main_col .car_ladoAg .panelExibLabel .label-categ .label-in {
    display: flex;

    margin: 1%;

    //border: solid 1px blue; /* marcador de edição interna */  
  }