@font-face {

  font-family: tx;
  src: url('./assets/fonts/Solway-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {

  font-family: Destaque;
  src: url('./assets/fonts/OtomanopeeOne-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

/* Component Exibição de produtos na edição -------------------------- */
.categExib {
    //border: solid 2px red; /*rgba(168,243,15)*/
    
    background: linear-gradient(1deg,rgb(196, 236, 115), rgb(255, 255, 255));
  
    //height: 75%; /* 100% - (SupMenu) - (MainMenu) */ /* EM PRODUÇÃO */
    min-height: 800px; /* Teste de conexão com o editor */
  }

  .v-progress-circular {
    margin: 1rem;
  }
  
  /* Texto background 1 */
  .backTexto1 {
    display: flex;

    margin-left: 50%;
    margin-top: -4%;

    opacity: 0.2;
    transform-origin: center;
    position: relative;

    font-size: 10.5rem;
    font-weight: 900;

    font-family: Destaque;
  }

  /* Texto background 2 */
  .backTexto2 {
    display: flex;

    margin-top: -1%;
    margin-left: -9%;

    opacity: 0.2;
    transform-origin: center;
    position: relative;

    font-size: 15.5rem;
    font-weight: 900;

    font-family: Destaque;
  }

  /* IMG Categoria */ /* Região de posicionamento */
  .panelCategs {
    display: flex;

    flex-wrap: wrap;
    //justify-content: space-between; /* Ajuste de conteúdo interno ao card panel */
    justify-content: center;

    margin-top: 2%;
    width: 100%;

    //border: solid 2px rgb(211, 201, 63); /* marcador de edição interna */
  }

  /* Label Categoria */ /* Label Categoria (interno 1) */
  .panelCategs .label-categ {
    display: flex;
    flex-direction: column;
  
    justify-content: center; /* Ajuste de conteúdo interno ao card panel categoria */
    align-items: center;
   
    margin: 1%;
    border-radius: 4px;
    max-height: 400px;
    max-width: 260px; /* a horizontal do card categoria deve ser fixo, encaixando-se na responsividade */
  
    //border: solid 1px red; /* marcador de edição interna */
  
    //box-shadow: 0 2px 20px rgba(0, 0, 0, 0.65);
  }

  /* Label Categoria */ /* Label Categoria (interno 1) */ /* Label */
  .panelCategs .label-categ .label-in {
    display: flex;
    justify-content: center; /* Ajuste do texto da label */

    //color: green; /* cor texto */
    font-size: 1.2rem;
    font-weight: 700;

    //margin: 1%;

    font-family: tx;

    //border: solid 1px blue; /* marcador de edição interna */  
  }

  /* HOVER BTNs DO MENU */
  .shadowHover:hover {

    box-shadow: 10px 20px 80px rgba(121, 174, 64, 1);
    min-height: 450px;
    //max-width: 420px;

  }