@font-face {

    font-family: tx;
    src: url('./assets/fonts/Solway-Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {

    font-family: Destaque;
    src: url('./assets/fonts/Frijole-Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }

  /* TAMANHO LARGE */
.descric-main {
    display: flex;

    height: 600px;

    //border: 1px solid red;
    background: linear-gradient(2deg, rgba(168,243,15), rgb(255, 255, 255));
}

.descric-main .super-card {
    display: flex;

    //flex-wrap: wrap;

    margin: 4%;

    width: 100%;

    //border: 1px solid rgb(68, 0, 255);
    //background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.65);
}

/* Foto ao lado esquerdo */
.descric-main .super-card .lado-a {
    display: flex;

    width: 30%;
    //margin: 5%;
    margin-top: 1%;
    margin: 1%;
    margin-bottom: 10%;

    //border-radius: 8px;

    box-shadow: 0px 1px 10px rgb(168,243,15);
    //border: 1px solid rgb(0, 255, 76);
}

/* Descrião ao lado direito */
.descric-main .super-card .lado-b {
    display: flex;

    width: 80%;

    //border: 1px solid rgb(107, 38, 38);
}

.descric-main .super-card .lado-b .dec-tx {
    display: flex;

    width: 80%;
    margin: 1%;
    padding: 1%;

    font-family: tx;

    //border: 1px solid green;
}

.descric-main .super-card .lado-b .btns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    //border: 1px solid green;
}

  /* TAMANHO SMALL ---------------------------------------------------------------------------- */
  .descric-main-small {
    display: flex;

    //height: 800px;

    //border: 1px solid red;
    background: linear-gradient(2deg, rgba(168,243,15), rgb(255, 255, 255));
}

.descric-main-small .super-card-small {
    display: flex;
    flex-direction: column;

    margin: 4%;

    width: 100%;

    //border: 1px solid rgb(68, 0, 255);
    //background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.65);
}

/* Foto ao lado esquerdo */
.descric-main-small .super-card-small .lado-a-small {
    display: flex;

    width: 30%;
    //margin: 5%;
    margin-top: 1%;
    margin: 1%;
    margin-bottom: 10%;

    //border-radius: 8px;

    box-shadow: 0px 1px 10px rgb(168,243,15);
    //border: 1px solid rgb(255, 0, 179);
}

/* Descrião ao lado direito */
.descric-main-small .super-card-small .lado-b-small {
    display: flex;

    width: 100%;

    //border: 1px solid rgb(107, 38, 38);
}

.descric-main-small .super-card-small .lado-b-small .dec-tx-small {
    display: flex;

    width: 80%;
    margin: 1%;
    padding: 1%;

    font-family: tx;

    //border: 1px solid green;
}

.descric-main-small .super-card-small .lado-b-small .btns-small {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    //border: 1px solid green;
}