.e_m {
    display: flex;

    width: 80%;

    border: 1px solid green;
}
.e_m .elem_lat_aux {
    display: flex;

    width: 20%;

    border: 2px solid rgb(60, 223, 223);
}

.e_m .elem_central_client {
    display: flex;

    width: 60%;

    border: 2px solid rgb(14, 17, 17);
}