@font-face {

    font-family: tx;
    src: url('./assets/fonts/Solway-Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {

    font-family: Destaque;
    src: url('./assets/fonts/Frijole-Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }

.faq-main-style {
    display: flex;

    justify-content: center;
    align-items: center;

    font-family: tx;

    background: linear-gradient(1deg,rgb(196, 236, 115), rgb(255, 255, 255));

    //border: 1px solid red;
}

.faq-main-style .elem_central {
    display: flex;
    flex-direction: column;

    margin: 10%;

    //border: 1px solid red;
}

.faq-main-style .elem_central .main_titulo {
    display: flex;
    align-self: center;

    font-family: Destaque;

    color:rgb(196, 236, 115);
    font-size: 2rem;
    
    margin-bottom: 2%;

    //border: 1px solid red;
}

.faq-main-style .elem_central .btn-style {
    display: flex;
    
    margin-left: 2%;
    margin-right: 2%;
    padding: 1%;

    border-radius: 8px;

    box-shadow: 0px 0px 1px rgba(1, 1, 1, 1);
    //border: 1px solid black;
}