/* Página de EDIÇÃO de produto */

.productsEdit {
    display: flex;
  
    height: 100%; /* enquandramento principal na página como um todo */
    width: 100%;
  
    border: solid 2px purple; /* marcador de edição interna */
  }
  
  .geralProductsEdit {
    display: flex;
  
    justify-content: center; /* formulário centralizado */
    flex-wrap: wrap;
  
    height: 100%;

    /* Número grande para páginas pequenas e virce e versa */ /* BIND no front? */
    width: 100%; /* O preenchimento completo garante a adaptação a todas as páginas */ /* ZZZ */
  
    //border: solid 2px green; /* marcador de edição interna */
    border-radius: 8px;
    background-color: rgb(240, 240, 240);
  }
  
  /* formato para input geral */
  .geralProductsEdit .input_edit {
    display: flex;

    justify-content: space-between; /* Espaço entre as linhas principais do formulário */
  
    margin: 3%; /* Espaço entre as linhas principais */ /* Deve ser conciliado com o width ZZZ */
  
    //border: solid 2px rgb(94, 90, 90); /* marcador de edição interna */
  }

  /* ESPAÇO auxiliarentre os inputs principais */
  .geralProductsEdit .input_edit .space_aux {
    display: flex;

    height: 4%;
  
    border: solid 2px rgb(192, 235, 0); /* marcador de edição interna */
  }

  /* input com duas linhas em uma coluna */
  .geralProductsEdit .input_edit .input_col {
    display: flex;
    flex-direction: column;

    width: 100%;

    //border: solid 2px red; /* marcador de edição interna */
  }

  /* uma das colunas é a label */
  .geralProductsEdit .input_edit .input_col .labelCol {
    display: flex;

    font-size: 0.9rem;
    color: rgb(13, 105, 13);

    //border: solid 2px blue; /* marcador de edição interna */
  }

  /* linha 1 */ /* formar 2 colunas em 1 linha */
  .geralProductsEdit .input_edit .input_col_categ {
    display: flex;
    flex-direction: column;

    justify-content: space-between; /* Espaço entre as colunas da primeira linha */

    width: 48%;
  
    //border: solid 2px red;
  }

  /* ajuste input, dentro da hierarquia flex */
  .geralProductsEdit .input_edit .input_col_categ .input_edit_line {
    display: flex;

    padding: 1%; /* interno à linha input => ajuste de placeholder */
    margin-bottom: 3%; /* aux */
    border-radius: 8px;
  
    //border: solid 0.1px green; /* marcador de edição interna */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  }

  /* cor tipo 1 --> cor da fonte do texto em cima da img categoria */
  .geralProductsEdit .input_edit .input_col_categ .input_edit_line .color1 {
    display: flex;

    color: green;
  }

  /* cor tipo 2 --> cor da fonte do texto em cima da img categoria */
  .geralProductsEdit .input_edit .input_col_categ .input_edit_line .color2 {
    display: flex;

    color: red;
  }

  /* cor tipo 3 --> cor da fonte do texto em cima da img categoria */
  .geralProductsEdit .input_edit .input_col_categ .input_edit_line .color3 {
    display: flex;

    color: blue;
  }

    /* ajuste input, dentro da hierarquia flex */
    .geralProductsEdit .input_edit .ajuste_label_form {
      display: flex;
  
      justify-content: center;
      width: 100%;
      margin-top: 1%;

      //border: solid 0.1px red; /* marcador de edição interna */
    }

    /* label final */
    .geralProductsEdit .input_edit .ajuste_label_form .label_end_form {
      display: flex;

      padding: 1%; /* interno à linha input => ajuste de placeholder */
      //margin-bottom: 3%; /* aux */
      border-radius: 8px;
    
      //border: solid 0.1px green; /* marcador de edição interna */
      box-shadow: 0 2px 10px rgba(101, 253, 0, 0.9);
    }

  /* FIM _ Página de EDIÇÃO de produto */