.pagGrad {
    display: flex;
    flex-direction: column;

    width: 102%;
    margin-right:-6px;

    //border: solid 1px red;
}
.main_gradiente_pag {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 102%;

    @import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');
    font-family: 'Original Surfer', cursive;

    //border: solid 2px red;
}

.main_gradiente_pag .aparecerOne {
    display: flex;
    justify-content: center;

    //border: solid 2px blue;
}

.main_gradiente_pag .aparecerOne .aparecerOne_int {
    display: flex;

    font-size: 2rem;
    font-weight: 700;
    color: rgba(168, 243, 15, 1);

    //border: solid 2px red;
}