.mainHoverMenu {
    display: flex;
    justify-content: center;

    border: solid 2px green;
}

.mainHoverMenu .elemSemHover {
    display: flex;

    border: solid 2px red;
}

.mainHoverMenu .elemComHover {
    display: flex;

    border: solid 2px blue;
}