.main_position {
    display: flex;
    flex-direction: column;

    width: 100%;

    //border: 1px solid red;
}

.config_video_posi {
    display: flex;
    flex-direction: column;

    width: 100%;
    //padding: 1%;

    background-color: rgb(17, 59, 57);

    @import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');
    font-family: 'Original Surfer', cursive;

    //border: solid 2px red;

    //box-shadow: 0px 0px 60px yellow;
}

.config_video_posi .elem_video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;

    //border: solid 2px blue;
}

.config_video_posi .elem_video .elem_video_int {
    display: flex;

    width: 100%;

    //border: solid 2px green;
}

.config_video_posi .elem_video .elem_btn {
    display: flex;

    margin-top: 10%;

    //border: solid 2px green;
}