.main_sup_menu {
    display: flex;

    width: 100%;
    height: 14%;

    //border: solid 2px red;
}

.main_sup_menu .elem_menu_drop {
    display: flex;
    //flex-direction: column;

    //width: 100%; /* causa o afastamento à direita do icon menu drop. */
    //height: 20%;

    //border: solid 2px red;
}

.main_sup_menu .elem_menu_drop .elem {
    display: flex;

    //width: 100%; /* causa o afastamento à direita do icon menu drop. */
    //height: 20%;

    //border: solid 2px purple;
}

/* MENU SEM DROP */
.main_sup_menu .elem_menu {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 4%;
    
    /*height: 140px;
    width: 90px;
    border-radius: 100px;*/

    //border: solid 1px rgba(255, 255, 255, 0.1);
    //border: solid 1px blue;
}

/* TAB MENU - MENU SEM DROP */
.main_sup_menu .tab_elem {
    display: flex;

    //border: solid 2px blue;
}

.main_sup_menu .elem_menu .elem_menu_int {
    display: flex;

    //border: solid 2px purple;
}

.routerStyle {
    display: flex;
    align-items: center;

    color: rgba(121, 174, 64, 1);
    text-decoration: none;

    height: 100%;
    //width: 100%;

    //background-color: red;

    //border: 1px solid red;
}

/* ANIMAÇÕES */ /* Classes repetidas separadas por vírgula */
.fade-enter, .fade-leave-to {
    opacity: 0;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 2s;
}
