.main-menu-small-style {
    display: flex;

    border: 1px solid red;
}

/* HOVER BTNs DO MENU */
.luzHover:hover {

    color: rgba(121, 174, 64, 1);
    //max-height: 450px;
    //max-width: 550px;

}