@font-face {

    font-family: tx;
    src: url('./assets/fonts/Solway-Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {

    font-family: Destaque;
    src: url('./assets/fonts/OtomanopeeOne-Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }

.main_mais {
    display: flex;
    justify-content: center;

    flex-wrap: wrap;

    height: 1000px;
    
    //margin-bottom: 2%;

    //box-shadow: 10px 10px 100px rgba(168,243,15);
    background: linear-gradient(1deg, rgb(121, 174, 64), rgb(199, 247, 149), rgb(255, 255, 255));
    //border: 1px solid rgb(0, 183, 255);
}

/* Página inicial */
.main_mais .colunas {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 20%;
    max-height: 80%;

    //border: 2px solid blue;
}

.main_mais .colunas .elem_por_coluna {
    display: flex;
    justify-content: center;
    align-items: center;


    flex-direction: column;

    width: 90%;
    height: 70%;

    margin-top: 5%;
    border-radius: 100px;

    background: linear-gradient(5deg, rgb(10, 36, 34), rgb(10, 36, 34), rgb(25, 88, 85), rgb(23, 188, 140));
    //background-color: rgb(10, 36, 34);

    //border: 2px solid pink;
}

.main_mais .colunas .elem_por_coluna .por_cima_do_elem {
    display: flex;

    width: 220px;
    height: 50%;

    margin-left: -40%;
    margin-right: -40%;

    border-radius: 100px;

    //border: 2px solid red;
}

.main_mais .colunas .elem_por_coluna .abaixo_do_elem {
    display: flex;
    justify-content: center;

    margin-top: 20%;

    width: 220px;
    height: 130px;

    border-radius: 50px;

    background-color: rgb(10, 36, 34);
    //border: 2px solid red;
}

.main_mais .colunas .elem_por_coluna .abaixo_do_elem .text_abaixo {
    display: flex;
    align-items: center;

    width: 70%;

    font-size: 2rem;
    font-weight: 300;

    color: rgb(168, 243, 15);

    //border: 2px solid blue;
}

/* Página após entrada */
.main_mais .clicada {
    display: flex;
    flex-direction: column;
    //justify-content: center;
    align-items: center;

    width: 80%;

    border-radius: 18px;

    background-color: rgb(250, 248, 248);

    //border: 2px solid pink;
}

.main_mais .clicada .sup {
    display: flex;
    flex-direction: column;
    //justify-content: center;
    align-items: center;

    width: 100%;
    height: 20%;

    //border: 2px solid red;
}

.main_mais .clicada .sup .ft {
    display: flex;
    //justify-content: center;
    //ualign-items: center;

    width: 50%;
    height: 300px; /* 60% */
    margin: 1%;
    margin-top: 2%;

    border-radius: 8px;

    //border: 2px solid blue;
}

.main_mais .clicada .sup .titulo {
    display: flex;
    //justify-content: center;
    //align-items: center;

    width: 100%;
    height: 200px; /* 40% */
    margin: 1%;
    margin-left: 4%;

    border-radius: 8px;

    color: rgb(168, 243, 15);
    font-family: tx;
    font-size: 2rem;
    font-weight: 300;

    //border: 2px solid blue;
}

.main_mais .clicada .tx {
    display: flex;
    flex-direction: column;
    //justify-content: center;
    align-items: center;

    //flex-wrap: wrap;

    width: 100%;
    height: 100%; /* 100% */
    //margin-top: 5%;

    //border: 2px solid red;
}

.main_mais .clicada .tx .elem_tx {
    display: flex;
    //flex-direction: column;
    //justify-content: center;
    //align-items: center;

    flex-wrap: wrap;

    margin: 1%;
    padding: 1%;

    border-radius: 18px;

    font-family: tx;

    //box-shadow: 0 10px 40px rgba(1, 1, 1, 0.4);
    //border: 1px solid black;
}

.txHover:hover {

    box-shadow: 10px 20px 80px rgba(121, 174, 64, 1);
}