@font-face {

    font-family: myFonts;
    src: url('./assets/fonts/Solway-Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {

    font-family: Destaque;
    src: url('./assets/fonts/OtomanopeeOne-Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }

.main_page_sobreNos {
    display: flex;
    flex-direction: column;

    height: 2650px;

    background: linear-gradient(2deg, rgb(121, 174, 64),rgb(160, 206, 110), rgb(255, 255, 255));
    //border: 1px solid red;
}

.main_page_sobreNos .linha1_quemSomos {
    display: flex;
    justify-content: center;
    flex-direction: column;

    //height: 6%;

    //background-image: linear-gradient(180deg, rgb(121, 174, 64) 0%, rgb(38, 53, 98) 50%, #ffa40000 100%), radial-gradient(circle at 50% 95%, rgb(1, 1, 1), rgb(168, 243, 15));
    //background-image: linear-gradient( rgb(1, 1, 1), rgb(168, 243, 15) );

    //border: 1px solid green;
}

/* style geral para as 3 linhas principais */
/* COLUNA 1 */
.main_page_sobreNos .linha1_quemSomos .col1_quemSomos {
    display: flex;
    justify-content: center;
    align-items: center;

    //background-image: linear-gradient( rgb(1, 1, 1), rgb(121, 174, 64) );

    //border: 1px solid purple;
}

/* IMG coluna 1 */
.main_page_sobreNos .linha1_quemSomos .col1_quemSomos .col1_int_quemSomos {
    display: flex;
    justify-content: center;
    
    margin: 1%;
    width: 50%;

    border-radius: 300%;

    box-shadow: -5px 10px 120px rgba(38, 53, 98, 1);
    background-image: linear-gradient(1deg, rgb(1, 1, 1), rgb(1, 1, 1) );

    //border: 1px solid blue;
}

/* TEXTO */
.main_page_sobreNos .linha1_quemSomos .col1_quemSomos .col2_int_quemSomos {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100%;
    width: 30%;

    //background-image: linear-gradient(2deg, rgb(1, 1, 1), rgb(121, 174, 64) );

    //border: 1px solid blue;
}

/* Título coluna 1 */
.main_page_sobreNos .linha1_quemSomos .col1_quemSomos .col2_int_quemSomos .linha1_int_quemSomos {
    display: flex;
    justify-content: center;
    
    margin: 1%;

    font-size: 1.5rem;

    //background-image: linear-gradient( rgb(1, 1, 1), rgb(121, 174, 64) );
    font-family: Destaque;
    color:rgb(12, 41, 39);

    //border: 1px solid blue;
}

/* Texto coluna 1 */
.main_page_sobreNos .linha1_quemSomos .col1_quemSomos .col2_int_quemSomos .linha2_int_quemSomos {
    display: flex;
    justify-content: center;
    
    margin: 1%;
    
    font-family: myFonts;

    font-size: 1rem;

    //background-image: linear-gradient( rgb(1, 1, 1), rgb(121, 174, 64) );

    //border: 1px solid blue;
}

/* SMALL SCREEN ------------------------------------------------------------------------------*/
/* COLUNA 1 */
.main_page_sobreNos .linha1_quemSomos .col1_quemSomos-small {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 40%;

    //background-image: linear-gradient( rgb(1, 1, 1), rgb(121, 174, 64) );

    //border: 1px solid purple;
}

/* IMG coluna 1 */
.main_page_sobreNos .linha1_quemSomos .col1_quemSomos-small .col1_int_quemSomos-small {
    display: flex;
    justify-content: center;
    
    margin: 1%;
    width: 50%;

    border-radius: 300%;

    box-shadow: -5px 10px 120px rgba(38, 53, 98, 1);
    background-image: linear-gradient(1deg, rgb(1, 1, 1), rgb(1, 1, 1) );

    //border: 1px solid blue;
}

/* TEXTO */
.main_page_sobreNos .linha1_quemSomos .col1_quemSomos-small .col2_int_quemSomos-small {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100%;
    width: 90%;

    //background-image: linear-gradient(2deg, rgb(1, 1, 1), rgb(121, 174, 64) );

    //border: 1px solid blue;
}

/* Título coluna 1 */
.main_page_sobreNos .linha1_quemSomos .col1_quemSomos-small .col2_int_quemSomos-small .linha1_int_quemSomos-small {
    display: flex;
    justify-content: center;
    
    margin: 1%;

    font-size: 1.5rem;

    //background-image: linear-gradient( rgb(1, 1, 1), rgb(121, 174, 64) );
    font-family: Destaque;
    color:rgb(12, 41, 39);

    //border: 1px solid blue;
}

/* Texto coluna 1 */
.main_page_sobreNos .linha1_quemSomos .col1_quemSomos-small .col2_int_quemSomos-small .linha2_int_quemSomos-small {
    display: flex;
    justify-content: center;
    
    margin: 1%;
    
    font-family: myFonts;

    font-size: 1rem;

    //background-image: linear-gradient( rgb(1, 1, 1), rgb(121, 174, 64) );

    //border: 1px solid blue;
}