@font-face {

    font-family: tx;
    src: url('./assets/fonts/Solway-Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {

    font-family: Destaque;
    src: url('./assets/fonts/OtomanopeeOne-Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }

.tx-carousel-main {
    display: flex;
    flex-direction: column;

    //border: 1px solid red;
}

.tx-carousel-main .tx-ext {
    display: flex;

    width: 80%;
    margin-left: 5%;

    //border: 1px solid yellow;
}

.tx-carousel-main .tx-ext .tx_int {
  display: flex;

  color: rgb(133, 194, 12);
  font-size: 1.6rem;
  font-weight: bold;

  font-family: tx;

  //border: 1px solid red;
}

.tx-carousel-main .tx-ext .tx_peq {
    display: flex;

    margin-top: 4%;

    color: rgb(39, 56, 4);
    font-size: 1rem;
    font-weight: bold;

    //border: 1px solid red;
}